body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 45px;

  /* Initial blue */
  background-color:  #0F1C3F;

  /* Glass preparation */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  transition: background-color 0.3s ease;
}
.navbar a:hover{
  color: #38BDF8;
}

.logo {
  font-size: 35px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  text-align: center;
  gap:50px
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;  
}

.hamburger {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}


.nav-links.active {
    display: flex;
}
footer{
  background-color:#0F1C3F;
  text-align: center;
  margin-top: 15px;
  padding: 20px;
  color: white;
}








.form-container {
      background-color: white;
      padding: 30px;
      max-width: 500px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

h2{
      text-align: center;
      margin-bottom: 20px;
}

label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
}

input, select, textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
}

textarea {
      resize: vertical;
}

.submit-btn {
      margin-top: 20px;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px;
      width: 100%;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
}

.submit-btn:hover {
      background-color: #0056b3;
}





















@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px 25px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
    color: white;
  }
}