body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 45px;
  background-color:  #0F1C3F;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  transition: background-color 0.3s ease;
}
.navbar a:hover{
  color: #38BDF8;
}
.logo {
  font-size: 35px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  text-align: center;
  gap:50px
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;  
}
.hamburger {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-links.active {
    display: flex;
}
footer{
  background-color:#0F1C3F;
  text-align: center;
  margin-top: 15px;
  padding: 20px;
  color: white;
}
.action-section {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px; /* space between icon and text */
  width: 380px;
  height: 95px;
  background: linear-gradient(135deg, #38BDF8, #0ea5e9);
  border-radius: 45px;
  border: none;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.action-btn:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
  background: linear-gradient(135deg, #0ea5e9, #5fd1ff);
}

.action-btn:active {
  transform: scale(0.97);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px 25px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
    color: white;
  }
  .action-btn {
    width: 90%;
    height: 85px;
    font-size: 22px;
  }
}