body {
      background-color: #ffffff;
      color: white;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }
    .message-box {
      background-color: #114b8c;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }
    h1 {
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
    }
    .submit-btn {
      margin-top: 15px;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px;
      width: 100%;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
}